<!DOCTYPE html>
<html>
  <head>
    <title>Bandmate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert %>
      <div id="notice_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% elsif notice %>
      <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <header id="main_header" class="cf">
      <div class="wrapper_wide">
        <%= link_to "Bandmate", root_path, id: "logo" %>
        <nav>
          <ul>
            <% unless podcast_signed_in? %>
              <li><%= link_to "Bands", podcasts_path %></li>
              <li><%= link_to "Sign In", new_podcast_session_path %></li>
              <li><%= link_to "Add a Band", new_podcast_registration_path %></li>
            <% else %>
              <li><%= link_to "Dashboard", root_path %></li>
              <li><%= link_to "Bands", podcasts_path %></li>
              <li><%= link_to "Sign Out", destroy_podcast_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <script>
    	$(document).ready(function(){
    		setTimeout(function() {
    			$('#notice_wrapper').fadeOut("slow", function() {
    				$this.remove();
    			});
    		}, 2500 );
    	});
    </script>

  </body>
</html>
